# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/
*.env

# Compiled files
*.pyc
__pycache__/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Temporary files
*.tmp
*.swp


# Scala/SBT
.bsp/
target/
